.transactionList {
  padding: 5px;
  margin: 5px;
  border: 1px solid rgb(39, 39, 39);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font: bold sans-seriff;
  transition: 0.2s;
  margin-bottom: 7px;
}
.transactionList:hover {
  transform: translateY(-3px);
  transform: translateX(-15px);
}

body {
  background-image: url('https://wallpapershome.com/images/pages/pic_h/16673.jpg');
  background-repeat: no-repeat;
  background-color: #151539;
  background-size: cover;
}

.title {
  font-family: 'JetBrains Mono';
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.defaultButton {
  border-radius: 3px;
  cursor: pointer;

  font-size: 1rem;
  transition: 0.5s;
  border: none;
  color: white;
}

.deleteButton {
  background-color: rgb(233, 16, 16);
  margin-left: 8px;
  width: 30px;
  height: 30px;
}

.list {
  margin-left: 20px;
}

.editButton {
  background-color: rgba(56, 182, 25, 0.884);
  color: rgb(248, 247, 247);
  width: 70px;
  height: 30px;
}

.defaultButton:hover {
  filter: brightness(90%);
}

.editButton:focus {
  background-color: rgba(26, 100, 8, 0.884);
}

.deleteButton:focus {
  background-color: rgb(247, 42, 35);
}

.inputTypeText {
  font-family: JetBrains Mono;
}

.selectMargin {
  margin-bottom: 40px;
  justify-content: space-between;
}

.selectReceita {
  margin-left: 20px;
}

.btn {
  margin-bottom: 20px;
  margin-top: 10px;
}

.browser-default {
  margin-bottom: 40px;
}

.icon {
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.savebtn {
  margin-left: 10px;
}

/* label color */
.input-field label {
  color: rgb(255, 255, 255);
}
/* label focus color */

.input-field {
  color: white;
}

input {
  color: white;
}
