.transactionList {
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font: bold sans-seriff;
  transition: 0.2s;
  margin-bottom: 7px;
}
.transactionList:hover {
  box-shadow: 4px 4px rgba(170, 170, 170, 0.432);
  transform: translateY(-3px);
}

body {
  background-color: rgb(241, 241, 241);
}

.title {
  font-family: 'JetBrains Mono';
  color: rgb(59, 59, 59);
  align-items: center;
  justify-content: center;
}

.defaultButton {
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  font-family: 'JetBrains Mono';
  transition: 0.5s;
  border: none;
  color: white;
}

.deleteButton {
  background-color: rgb(233, 16, 16);
  margin-left: 8px;
}

.list {
  margin-left: 20px;
}

.editButton {
  background-color: rgb(247, 197, 35);
  color: black;
}

.defaultButton:hover {
  filter: brightness(90%);
}

.editButton:focus {
  background-color: rgb(247, 197, 35);
}

.deleteButton:focus {
  background-color: rgb(247, 42, 35);
}

.inputTypeText {
  font-family: JetBrains Mono;
}

.selectMargin {
  margin-bottom: 40px;
  justify-content: space-between;
}

.selectReceita {
  margin-left: 20px;
}

.btn {
  margin-bottom: 20px;
  margin-top: 10px;
}

.browser-default {
  margin-bottom: 40px;
}

.icon {
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
